:root{
    --bs-light-rgb: 255, 255, 255;
}

.logo{
    max-width: 150px;
    width: 15%;
}

.h-10{
    height: 10%;
}

.dropdown-menu.show{
    border: none;
}
.dropdown-toggle::after{
    content: url("../img/chevron-down-solid.svg");
    border: none;
}

.jumbotron{ 
    background-image: url("../img/jumbo-bg.png");
    height:60vh ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}