:root{
    --bs-light-rgb: 255, 255, 255;
}

body{
    background-color: blue;
}

.logo{
    max-width: 150px;
    width: 15%;
}

.h-10{
    height: 10%;
}

.dropdown-menu.show{
    border: none;
}
/* .dropdown-toggle::after{
    content: url(img/sony_logo.svg);
    border: none;
} */